<div class="class">
  <h2>Two way data binding</h2>
  <form>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      placeholder="Digite o seu nome"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="name !== ''">
    <p>O nome é: {{ name }}</p>
  </div>
</div>

<div class="class">
  <form>
    <input
      type="text"
      [(ngModel)]="age"
      name="age"
      placeholder="Digite a sua idade"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="age !== undefined">
    <p>Sua idade é: {{ age }}</p>
  </div>
</div>
